body{
    background-color: var(--another__black);
    font-family: var(--fonte);
}
table{
    margin: auto;
}
.title{
    color: var(--white);
    font-size: 2rem;
    text-align: center;
    padding-bottom: 3rem;
}

.thead{
    text-align: left;
}
.theader th{
    color: var(--white);
    font-size: 1.5rem;
}
tbody td{
    vertical-align: middle;
    padding: 1rem 0 1rem 0;
    align-items: center;
}
.product_info{
    display: flex;
}
.product_img{
    width: 10%;
    border-radius: 20px;
}
.product_name{
    color: var(--white);
    font-size: 1.2rem;
    margin: auto;
    font-weight: bold;
}
.product_qtd{
    width: 15%;
    border-radius: 10px;
    border: 2px solid var(--main__green);
    text-align: center;
    font-size: 1rem;
}
.product_price{
    color: var(--white);
    font-size: 1.3rem;
    padding-right: 1.23rem;
}
.product_exclud{
    background-color: transparent;
    border: 2px solid var(--main__green);
    border-radius: 50%;
    color: var(--white);
    font-size: 1.2rem;
    transition: 1s;
}
.product_exclud:hover{
    color: var(--black);
    background-color: var(--main__green);
    transition: 1s;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: var(--main__green);
    width: 30%;
    margin: auto;
    border-radius: 20px;
}

.preco_total{
    color: var(--white);
    font-size: 1.4rem;
    padding: 2rem;
}

.finish{
    transform: scale(1);
    background-color: var(--another__dark__green);
    border: 2px solid var(--another__dark__green);
    border-radius: 20px;
    color: var(--white);
    width: 50%;
    font-size: 1.2rem;
    transition: 1s;
}
.finish:hover{
    transform: scale(1.1);
    background-color: var(--another__black);

}
footer{
    margin-top: 2rem;
    background-color: black;
    font-family: var(--fonte);
}

.footer-container{
    width: 100%;
    padding: 50px 0px 20px;
    background-color: var(--main__green);
}

.footer-icons{
    display: flex;
    justify-content: center;
}

.footer-icons a{
    text-decoration: none;
    padding: 10px;
    background-color: var(--w);
    margin: 10px;
    border-radius: 50%;
}

.footer-icons a i{
    font-size: 2em;
    color: var(--white);
    cursor: pointer;
}

.footer-nav{
    margin: 30px 0;
}

.footer-nav ul{
    display: flex;
    justify-content: center;
}

.footer-nav ul li a{
    color: var(--white);
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    transition: 0.5s;
}

.footer-botton{
    background-color: var(--main__green);
    color: var(--white);
    padding: 20px;
    text-align: center;
}