:root{
    --dark__green: #002D2A;
    --main__green: #00B4AB;
    --shadow__mainG: #00918A;
    --white: #EEEEEE;
    --offwhite: #c7d3e0;
    --another__dark__green: #10423F;
    --black: #000000;
    --another__black: #1d2631;

    --fonte: 'Raleway', sans-serif;
}

.cabecalho{
    background-color: var(--main__green);
    margin-bottom: 2.5rem;
}
.header__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo{
    height: 8.5rem;
}
.search{
    height: 25%;
    max-height: 15rem;
    width: 45rem;
    max-width: 45rem;
    background-color: var(--another__dark__green);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    margin-top: 2rem  ;
}
.search input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 1rem;
    font-family: var(--fonte);
    color: var(--white);
}
::placeholder{
    color: var(--offwhite);
}
.search button svg{
    height: 1.5rem;
    width: 1.5rem;
    margin-top: rem;
    margin-left: 0.1rem;

}
.search button{
    border: 0;
    border-radius: 50%;
    width: 2.6rem;
    height: 2.6rem;
    background-color: var(--dark__green);
    transition: 1s;
}
.search button:hover{
    background-color: var(--main__green);
    transition: 1s;
}
.icone{
    padding-right: 3rem;
}
.carrinho{
    padding-top: 2rem;
    height: 3.5rem;
    width: 3.5rem;
}
.login{
    padding-bottom: 0.1rem;
    height: 3rem;
    width: 3rem;
}

*{
    font-family: var(--fonte);
}
body{
    background-color: var(--another__black);
    font-family: var(--fonte);
}
main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.page-title{
    color: var(--offwhite);
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2.5rem;
}
section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tabela-head{
    color: var(--offwhite);
    background-color: var(--main__green);
}
.tabela{
    display: flex;
    flex-direction: column;
    color: var(--black);
    background-color: var(--offwhite);
    border-radius: 10px;

}
th{
    width: 100%;
    padding: 2rem;
    border: 2px solid var(--offwhite);
    border-radius: 10px;
    font-size: 1.25rem;
    font-weight:bold;
}
.box{
    color: var(--offwhite);
}
.product{
    display: flex;
}
.product img{
    width: 10%;
}
.produto-nome{
    font-size: 1.2rem;
    margin: 2rem;
}
.qty{
    display: flex;
    margin-right: 8rem;
}