body{
    background-color: var(--another__black);
    font-family: var(--fonte);
}
.title{
    text-align: center;
    color: var(--white);
    font-size: 3rem;
    margin-bottom: 3rem;
}
.first{
    display: flex;
    flex-direction: column;
    
}
.text_R{
    color: var(--white);
    text-align: center;
    font-size: 1.5rem;
    padding:2rem 0 2rem 0;
}
.text_L{
    color: var(--white);
    font-size: 1.5rem;
    padding: 2rem 0 2rem 0;
    text-align: center;
}

.subtitle{
    margin-top: 3rem;
    font-size: 3rem;
    text-align: center;
    color: var(--white);
}

.images_emecari{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3rem;
}
.emecari{
    width: 20%;
}

footer{
    margin-top: 2rem;
    background-color: black;
    font-family: var(--fonte);
}

.footer-container{
    width: 100%;
    padding: 50px 0px 20px;
    background-color: var(--main__green);
}

.footer-icons{
    display: flex;
    justify-content: center;
}

.footer-icons a{
    text-decoration: none;
    padding: 10px;
    background-color: var(--w);
    margin: 10px;
    border-radius: 50%;
}

.footer-icons a i{
    font-size: 2em;
    color: var(--white);
    cursor: pointer;
}

.footer-nav{
    margin: 30px 0;
}

.footer-nav ul{
    display: flex;
    justify-content: center;
}

.footer-nav ul li a{
    color: var(--white);
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    transition: 0.5s;
}

.footer-botton{
    background-color: var(--main__green);
    color: var(--white);
    padding: 20px;
    text-align: center;
}